# many standard libraries, like pandas, numpy, etc., but especially this:

jupyter
ipykernel
numpy
spacy # nlp
pandas
matplotlib
seaborn
gspread_dataframe
lxml
nltk
pyconll # working with universal dependencies files
graphannis # for working with ANNIS corpora such as OGA
regex
greek-accentuation
PyGithub
sddk
